# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore .env files (used to store environment variables)
.env
.gitignore
# Ignore macOS system files
.DS_Store

# Ignore dependency lock files
yarn.lock
package-lock.json
